.NewBug > form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid  rgb(224, 217, 217);
    padding: 20px;
    border-radius: 8px;
}

.NewBug > form > input[type='text'] {
    margin: 5px;
    padding: 5px 20px;
    border-radius: 0.5em;
    border: 1px solid rgb(224, 217, 217);
}

.NewBug > form > textarea {
    margin-bottom: 15px;
    padding: 5px 20px;
    border-radius: 0.5em;
    border: 1px solid rgb(224, 217, 217);
    height: 100px;
    resize: none;

} 

.NewBug > form > select {
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid rgb(224, 217, 217);
}

.NewBug > form > input[type='submit'] {
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #45a33e;
    color: white;
    font-weight: bold;
}

.NewBug > form > .success {
    color: green;
    font-weight: bold;
}

.NewBug > form > .error {
    color: red;
    font-weight: bold;
}