.Navbar {
    background-color: rgb(112, 212, 125);
    padding: 20px 50px;
}

.Navbar > div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.Navbar > div > div > a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.Navbar > div > div > a:hover {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .Navbar > div {
        flex-direction: column;
    }

    .Navbar > div > div {
        display: flex;
        flex-direction: column;
    }
}